<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.jardas.rcp.module1.client.ui.SampleView"
            id="de.jardas.rcp.module1.client.ui.SampleView"
            name="SampleView"
            restorable="false">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="de.tnt.innight.client.ui.menus.main.zeus"
               label="SampleView">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Show"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="de.jardas.rcp.module1.client.ui.SampleView">
               </parameter>
            </command>
        </menu>
    </menuContribution>
    </extension>

</plugin>
