<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.jardas.rcp.client.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.jardas.rcp.client.application.Perspective"
            id="de.jardas.rcp.client.application.perspective">
      </perspective>
   </extension>
   <extension
         id="de.jardas.rcp.client.application.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.jardas.rcp.client.application.application"
            name="RCP Demo">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>

</plugin>
